# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.DS_Store
*.log
coverage/
.vscode/
.idea/
*.tgz

# Optional:
logs/
pids/
*.pid
*.seed
*.pid.lock

# OS
Thumbs.db

API_VERSION.md
