# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.DS_Store
*.log
coverage/
.vscode/
.idea/
*.tgz

# Optional:
logs/
pids/
*.pid
*.seed
*.pid.lock

# OS
Thumbs.db
API_VERSION.md


# Ignorar carpetas de tests y SQL
/test/
/sql/

# Archivos de prueba
/test_artwork_likes.http
/test_artwork_likes.ps1

# Archivo de comandos útiles
/PM2_COMMANDS.md

# Archivo de guía de despliegue
/DEPLOY.md
server-standalone.js
package-standalone.json
docs/SSH_NOTES.md
